#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,backlight = &backlight;
    };

    // 💡 修正版：補上 led_0 子節點，解決 C 語言底層 DT_NUM_CHILD 算不到 LED 的問題
    backlight: backlight {
        compatible = "gpio-backlight";
        label = "Backlight";

        led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>; // 綁定 Seeed XIAO 板上的 P0.26 紅色 LED
            label = "Red LED";
        };
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <1>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // D0
            , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // D1
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // D2
            ;
    };
};