#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1    &kp N2    // 017孔輸出 1, 020孔輸出 2
                &kp N3              // 022孔輸出 3
            >;
        };
    };
};