#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &out OUT_TOG    // D0 孔：單篤一下，即刻【強制切換 USB / 藍牙】！
                &bt BT_CLR      // D1 孔：單篤一下，即刻【清除舊藍牙記憶】！
                &kp N1          // D2 孔：單篤一下，打出 1 (測試晶片有冇死機)
            >;
        };
    };
};